*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-900.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template: 170px 1fr / clamp(250px, 20%, 300px) 4fr;
}

aside {
  background-color: #1992D4;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  padding: 20px;
  display: grid;
  grid-template: 100px 1fr / 1fr;
  color: white;
}

.branding {
  display: grid;
  grid-template: 50px / 50px 1fr;
  align-items: center;
  gap: 10px;
}

.branding > img {
  height: 100%;
  place-self: center;
}

h1 {
  font-size: 1.8rem;
}

nav menu {
  list-style: none;
}

aside a {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template: 50px / 50px 1fr;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  gap: 10px;
}

aside a img {
  height: 50%;
  place-self: center;
}

.tools {
  margin-top: 50px;
}

header {
  grid-column: 2 / -1;
  display: grid;
  grid-template-rows: 50px 70px;
  padding: 20px;
  gap: 10px;
}

header .user-area {
  display: grid;
  grid-template-columns: 4fr 25px 1fr;
  grid-template-rows: 25px 1fr;
  gap: 10px;
  align-items: center;
}

.search-box {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 20px;
}

.search-box img {
  height: 100%;
}

.search-box input {
  outline: none;
  border: none;
  background-color: #E2E8F0;
  border-radius: 32px;
  padding: 10px 20px;
}

.notifications {
  grid-column: 3;
  justify-self: end;
  display: grid;
  grid-template-rows: 25px;
}

.notifications img {
  height: 100%;
}

.profile {
  grid-column: 4;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
}

.profile img {
  height: 100%;
  background-color: #FACC15;
  border-radius: 50%;
}

.profile a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.action-area {
  grid-row: 2;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}

.greet {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 70px;
  align-items: center;
  gap: 10px;
}

.greet img {
  place-self: center;
  height: 100%;
  background-color: #FACC15;
  border-radius: 50%;
}

.greet-text :last-child {
  font-size: 2rem;
  font-weight: bold;
}

.actions {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.actions button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 32px;
  background-color: #1992D4;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template: repeat(2, 1fr) / 4fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #E2E8F0;
}

.projects {
  grid-row: 1 / -1;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-top: 20px;
}

.card,
.board,
.pane {
  border-radius: 11px;
  background-color: white;
  padding: 30px;
}

.card {
  height: 220px;
  border-left: 11px solid #FACC15;
}

.board,
.pane {
  margin-top: 20px;
  font-size: 0.8rem;
  display: grid;
  gap: 15px;
}

.announcement {
  border-top: 1px solid black;
  padding-top: 15px;
}

.announcement:first-child {
  border: none;
  padding-top: 0;
}

.trending-user {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 20px;
  align-items: center;
  gap: 10px;
}

.trending-user img {
  height: 40px;
  place-self: center;
}

.username {
  font-weight: bold;
}
